[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "omf/.local/share/omf"]
	path = omf/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
