include "output.kdl"
include "keybinds.kdl"
include "window-rules.kdl"

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
}

input {
    keyboard {
        xkb {
            options "caps:swapescape"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 8

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off

        width 4

        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        width 1
        active-color "#cba6f7"
        inactive-color "#505050"

        urgent-color "#9b0000"

    }
}

spawn-at-startup "waybar"
spawn-sh-at-startup "mpd"
spawn-sh-at-startup "fish -c ~/.config/niri/mpd-mpris-start"
spawn-sh-at-startup "swaybg -i $HOME/.assets/wallpapers/wallpaper.jpg"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off

    slowdown 0.75
}

window-rule {
    background-effect {
        blur true
    }
}
