# Delimiters — math only, manual
global !p
from globals import *
endglobal


snippet lr "\left( \right)" wm
\left( $1 \right)$0
endsnippet

snippet lb "\left[ \right]" wm
\left[ $1 \right]$0
endsnippet

snippet lc "\left\{ \right\}" wm
\left\{ $1 \right\}$0
endsnippet

snippet abs "\left| \right|" wm
\left| $1 \right|$0
endsnippet

snippet norm "\left\| \right\|" wm
\left\| $1 \right\|$0
endsnippet

snippet ceil "\left\lceil \right\rceil" wm
\left\lceil $1 \right\rceil$0
endsnippet

snippet floor "\left\lfloor \right\rfloor" wm
\left\lfloor $1 \right\rfloor$0
endsnippet

snippet avg "\langle\rangle" wm
\left\langle $1 \right\rangle $0
endsnippet
