# Derivatives — math only
global !p
from globals import *
endglobal


# Manual
snippet dd "\frac{d}{dx}" wm
\frac{d}{dx}$0
endsnippet

context "math()"
snippet ddi "\frac{d}{d<var>}" wmA
\frac{d}{d${1:x}}$0
endsnippet

snippet pd "\frac{\partial}{\partial x}" wm
\frac{\partial $1}{\partial ${2:x}}$0
endsnippet

snippet pp "\frac{\partial^2}{\partial x^2}" wm
\frac{\partial^2}{\partial ${1:x}^2}$0
endsnippet

# Automatic
context "math()"
snippet grd "\nabla" iAm
\nabla $0
endsnippet

context "math()"
snippet dv "\nabla\cdot" iAm
\nabla\cdot $0
endsnippet

context "math()"
snippet crl "\nabla\times" iAm
\nabla\times $0
endsnippet

context "math()"
snippet lap "\nabla^2" iAm
\nabla^2
endsnippet

context "math()"
snippet pd "\frac{\partial}{\partial x}" wmA
\frac{\partial $1}{\partial ${2:x}}$0
endsnippet
