# Blackboard & Fonts — math only, manual
global !p
from globals import *
endglobal


context "math()"
snippet RR "\mathbb{R}" wmA
\mathbb{R}
endsnippet

context "math()"
snippet CC "\mathbb{C}" wmA
\mathbb{C}
endsnippet

context "math()"
snippet QQ "\mathbb{Q}" wmA
\mathbb{Q}
endsnippet

context "math()"
snippet ZZ "\mathbb{Z}" wmA
\mathbb{Z}
endsnippet

context "math()"
snippet NN "\mathbb{N}" wmA
\mathbb{N}
endsnippet

context "math()"
snippet HH "\mathbb{H}" wmA
\mathbb{H}
endsnippet

context "math()"
snippet cal "\mathcal{}" wmA
\mathcal{$1}$0
endsnippet

snippet scr "\mathscr{}" wm
\mathscr{$1}$0
endsnippet

snippet frak "\mathfrak{}" wm
\mathfrak{$1}$0
endsnippet

snippet bb "\mathbb{}" wm
\mathbb{$1}$0
endsnippet

context "math()"
snippet bf "\mathbf{}" iAm
\mathbf{$1}$0
endsnippet
