# Blackboard & Fonts — math only, manual
global !p
from globals import *
endglobal


snippet RR "\mathbb{R}" wm
\mathbb{R}
endsnippet

snippet CC "\mathbb{C}" wm
\mathbb{C}
endsnippet

snippet QQ "\mathbb{Q}" wm
\mathbb{Q}
endsnippet

snippet ZZ "\mathbb{Z}" wm
\mathbb{Z}
endsnippet

snippet NN "\mathbb{N}" wm
\mathbb{N}
endsnippet

snippet HH "\mathbb{H}" wm
\mathbb{H}
endsnippet

context "math()"
snippet cal "\mathcal{}" wmA
\mathcal{$1}$0
endsnippet

snippet scr "\mathscr{}" wm
\mathscr{$1}$0
endsnippet

snippet frak "\mathfrak{}" wm
\mathfrak{$1}$0
endsnippet

snippet bb "\mathbb{}" wm
\mathbb{$1}$0
endsnippet

context "math()"
snippet bf "\mathbf{}" iAm
\mathbf{$1}$0
endsnippet
