# Greek Letters — math only, automatic
# Usage: ;a → \alpha, etc.
global !p
from globals import *
endglobal


snippet ;a "\alpha" iAm
\alpha $0
endsnippet

snippet ;b "\beta" iAm
\beta $0
endsnippet

snippet ;g "\gamma" iAm
\gamma $0
endsnippet

snippet ;G "\Gamma" iAm
\Gamma $0
endsnippet

snippet ;d "\delta" iAm
\delta $0
endsnippet

snippet ;D "\Delta" iAm
\Delta $0
endsnippet

snippet ;e "\epsilon" iAm
\epsilon $0
endsnippet

snippet ;ve "\varepsilon" iAm
\varepsilon $0
endsnippet

snippet ;z "\zeta" iAm
\zeta $0
endsnippet

snippet ;h "\eta" iAm
\eta $0
endsnippet

snippet ;t "\theta" iAm
\theta $0
endsnippet

snippet ;T "\tau" iAm
\tau $0
endsnippet

snippet ;vt "\vartheta" iAm
\vartheta $0
endsnippet

snippet ;i "\iota" iAm
\iota $0
endsnippet

snippet ;k "\kappa" iAm
\kappa $0
endsnippet

snippet ;l "\lambda" iAm
\lambda $0
endsnippet

snippet ;L "\Lambda" iAm
\Lambda $0
endsnippet

snippet ;m "\mu" iAm
\mu $0
endsnippet

snippet ;n "\nu" iAm
\nu $0
endsnippet

snippet ;x "\xi" iAm
\xi $0
endsnippet

snippet ;X "\Xi" iAm
\Xi $0
endsnippet

snippet ;p "\pi" iAm
\pi $0
endsnippet

snippet ;r "\rho" iAm
\rho $0
endsnippet

snippet ;vr "\varrho" iAm
\varrho $0
endsnippet

snippet ;s "\sigma" iAm
\sigma $0
endsnippet

snippet ;S "\Sigma" iAm
\Sigma $0
endsnippet

snippet ;f "\phi" iAm
\phi $0
endsnippet

snippet ;P "\Phi" iAm
\Phi $0
endsnippet

snippet ;vf "\varphi" iAm
\varphi $0
endsnippet

snippet ;c "\chi" iAm
\chi $0
endsnippet

snippet ;y "\psi" iAm
\psi $0
endsnippet

snippet ;Y "\Psi" iAm
\Psi $0
endsnippet

snippet ;o "\omega" iAm
\omega $0
endsnippet

snippet ;O "\Omega" iAm
\Omega $0
endsnippet
