# Greek Letters — math only, automatic
# Usage: ;a → \alpha, etc.
global !p
from globals import *
endglobal


snippet ;a "\alpha" iAm
\alpha 
endsnippet

snippet ;b "\beta" iAm
\beta 
endsnippet

snippet ;g "\gamma" iAm
\gamma 
endsnippet

snippet ;G "\Gamma" iAm
\Gamma 
endsnippet

snippet ;d "\delta" iAm
\delta 
endsnippet

snippet ;D "\Delta" iAm
\Delta 
endsnippet

snippet ;e "\epsilon" iAm
\epsilon 
endsnippet

snippet ;ve "\varepsilon" iAm
\varepsilon 
endsnippet

snippet ;z "\zeta" iAm
\zeta 
endsnippet

snippet ;h "\eta" iAm
\eta 
endsnippet

snippet ;t "\theta" iAm
\theta 
endsnippet

snippet ;T "\tau" iAm
\tau 
endsnippet

snippet ;vt "\vartheta" iAm
\vartheta 
endsnippet

snippet ;i "\iota" iAm
\iota 
endsnippet

snippet ;k "\kappa" iAm
\kappa 
endsnippet

snippet ;l "\lambda" iAm
\lambda 
endsnippet

snippet ;L "\Lambda" iAm
\Lambda 
endsnippet

snippet ;m "\mu" iAm
\mu 
endsnippet

snippet ;n "\nu" iAm
\nu 
endsnippet

snippet ;x "\xi" iAm
\xi 
endsnippet

snippet ;X "\Xi" iAm
\Xi 
endsnippet

snippet ;p "\pi" iAm
\pi 
endsnippet

snippet ;P "\Pi" iAm
\Pi 
endsnippet

snippet ;r "\rho" iAm
\rho 
endsnippet

snippet ;vr "\varrho" iAm
\varrho 
endsnippet

snippet ;s "\sigma" iAm
\sigma 
endsnippet

snippet ;S "\Sigma" iAm
\Sigma 
endsnippet

snippet ;f "\phi" iAm
\phi 
endsnippet

snippet ;vf "\varphi" iAm
\varphi 
endsnippet

snippet ;c "\chi" iAm
\chi 
endsnippet

snippet ;y "\psi" iAm
\psi 
endsnippet

snippet ;Y "\Psi" iAm
\Psi 
endsnippet

snippet ;o "\omega" iAm
\omega 
endsnippet

snippet ;O "\Omega" iAm
\Omega 
endsnippet
