# Logic & Set Theory — math only, automatic
global !p
from globals import *
endglobal


context "math()"
snippet fa "\forall" iAm
\forall
endsnippet

context "math()"
snippet ex "\exists" iAm
\exists
endsnippet

context "math()"
snippet iff "\iff" iAm
\iff
endsnippet

context "math()"
snippet imp "\implies" iAm
\implies
endsnippet

context "math()"
snippet to "\to" iAm
\to
endsnippet

context "math()"
snippet map "\mapsto" iAm
\mapsto
endsnippet

context "math()"
snippet sub "\subseteq" iAm
\subseteq
endsnippet

context "math()"
snippet supset "\supseteq" iAm
\supseteq
endsnippet

context "math()"
snippet nin "\notin" iAm
\notin
endsnippet

context "math()"
snippet emp "\emptyset" iAm
\emptyset
endsnippet

context "math()"
snippet cup "\cup" iAm
\cup
endsnippet

context "math()"
snippet cap "\cap" iAm
\cap
endsnippet
