# Matrices — math only, manual
global !p
from globals import *
endglobal


snippet pm "pmatrix" wm
\begin{pmatrix}
	$1
\end{pmatrix}$0
endsnippet

snippet bm "bmatrix" wm
\begin{bmatrix}
	$1
\end{bmatrix}$0
endsnippet

snippet vm "vmatrix" wm
\begin{vmatrix}
	$1
\end{vmatrix}$0
endsnippet

snippet cm "cases" wm
\begin{cases}
	$1 & $2 \\\\
	$3 & $4
\end{cases}$0
endsnippet

snippet mat "matrix" wm
\begin{matrix}
	$1
\end{matrix}$0
endsnippet
