# Matrices — math only, manual
global !p
from globals import *
endglobal

context "math()"
snippet pm "pmatrix" wmA
\begin{pmatrix}
	$1
\end{pmatrix}$0
endsnippet

context "math()"
snippet bm "bmatrix" wmA
\begin{bmatrix}
	$1
\end{bmatrix}$0
endsnippet

context "math()"
snippet vm "vmatrix" wmA
\begin{vmatrix}
	$1
\end{vmatrix}$0
endsnippet

context "math()"
snippet cm "cases" wmA
\begin{cases}
	$1 & $2 \\\\
	$3 & $4
\end{cases}$0
endsnippet

context "math()"
snippet mat "matrix" wmA
\begin{matrix}
	$1
\end{matrix}$0
endsnippet
