# Operators — math only, automatic
global !p
from globals import *
endglobal

context "math()"

context "math()"
snippet sin "\sin" iAm
\sin
endsnippet

context "math()"
snippet cos "\cos" iAm
\cos
endsnippet

context "math()"
snippet tan "\tan" iAm
\tan
endsnippet

context "math()"
snippet cot "\cot" iAm
\cot
endsnippet

context "math()"
snippet sec "\sec" iAm
\sec
endsnippet

context "math()"
snippet csc "\csc" iAm
\csc
endsnippet

context "math()"
snippet ln "\ln" iAm
\ln
endsnippet

context "math()"
snippet log "\log" iAm
\log
endsnippet

context "math()"
snippet exp "\exp" iAm
\exp
endsnippet

context "math()"
snippet det "\det" iAm
\det
endsnippet

context "math()"
snippet ker "\ker" iAm
\ker
endsnippet

context "math()"
snippet rank "\rank" iAm
\rank
endsnippet

context "math()"
snippet tr "\tr" iAm
\tr
endsnippet

context "math()"
snippet arg "\arg" iAm
\arg
endsnippet

context "math()"
snippet max "\max" iAm
\max
endsnippet

context "math()"
snippet min "\min" iAm
\min
endsnippet

context "math()"
snippet sup "\sup" iAm
\sup
endsnippet

context "math()"
snippet inf "\inf" iAm
\inf
endsnippet
