snippet pac "usepackage - removes square braces if options removed" b
\usepackage`!p snip.rv='[' if t[1] else ""`${1:options}`!p snip.rv = ']' if t[1] else ""`{${2:package}}$0
endsnippet

snippet docls "Document Class" bA
\documentclass{$1}$0
endsnippet

snippet texdoc "LaTeX Biolerplate" b
\documentclass{article}

\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{enumerate}
\usepackage[margin=1in]{geometry}
\usepackage{float}

\title{${1:Title}}
\author{${2:Author}}
\date{${3:`date +%B\ %Y`}}

\begin{document}

\maketitle

$0

\end{document}
endsnippet
