# References — text mode, manual
global !p
from globals import *
endglobal


snippet lab "\label{}" w
\label{$1}$0
endsnippet

snippet ref "\ref{}" w
\ref{$1}$0
endsnippet

snippet eqr "\eqref{}" w
\eqref{$1}$0
endsnippet

snippet cite "\cite{}" w
\cite{$1}$0
endsnippet

snippet pag "\pageref{}" w
\pageref{$1}$0
endsnippet
