# Subscripts — math only, regex automatic
global !p
from globals import *
endglobal


priority 10

context "math()"
snippet "([A-Za-z])\.([ij])" "A_i" riAm
`!p snip.rv = match.group(1)`_{`!p snip.rv = match.group(2)`}
endsnippet

context "math()"
snippet "([A-Za-z]{2,})([0-9]+)" "A_{123}" riAm
`!p snip.rv = match.group(1)`_{`!p snip.rv = match.group(2)`}
endsnippet

priority 20

context "math()"
snippet "([A-Za-z])0" "x_0" riAm
`!p snip.rv = match.group(1)`_0
endsnippet

context "math()"
snippet "([A-Za-z])n," "x_n" riAm
`!p snip.rv = match.group(1)`_n
endsnippet
