# Common Symbols — math only, automatic
global !p
from globals import *
endglobal

context "math()"
snippet ... "\cdots" iAm
\cdots
endsnippet

context "math()"
snippet xx "\times" iAm
\times
endsnippet

context "math()"
snippet oo "\infty" iAm
\infty
endsnippet

context "math()"
snippet != "\neq" iAm
\neq
endsnippet

context "math()"
snippet <= "\leq" iAm
\leq
endsnippet

context "math()"
snippet >= "\geq" iAm
\geq
endsnippet

context "math()"
snippet ~~ "\sim" iAm
\sim
endsnippet

context "math()"
snippet ~~= "\approx" iAm
\approx
endsnippet
