# Text Formatting — text mode, manual
global !p
from globals import *
endglobal


snippet bf "\textbf{}" w
\textbf{$1}$0
endsnippet

snippet it "\textit{}" w
\textit{$1}$0
endsnippet

snippet em "\emph{}" w
\emph{$1}$0
endsnippet

snippet tt "\texttt{}" w
\texttt{$1}$0
endsnippet

snippet sc "\textsc{}" w
\textsc{$1}$0
endsnippet
